body{
    background-color: #eae4e9;
    font-family: 'Poppins', sans-serif;
}

.screen{
    display: flex;
    align-items: baseline;
}

#answer{
    margin-left: 2rem;
    font-size: 1.5rem;
}

button{
    border: none;
    background-color: #7DAA92;
    border-radius: 1rem;
    font-size: 1.8rem;
    width: 4rem;
    height: 3rem;
    margin: 0.5rem;
    color: #eae4e9;
}

#newWord{
    width: 7rem;
    font-size: 1.3rem;
    height: 3.5rem;
}

#letterChoosen{
    font-size: 1.5rem;
}