html, body{
    height: 100%;
}

body{
    background-color: #eae4e9;
    font-family: 'Poppins', sans-serif;
}

h1{
    text-align: center;
}

.screen{
    display: flex;
    align-items: baseline;
}

#answer{
    margin-left: 2rem;
    font-size: 1.5rem;
}

button{
    border: none;
    background-color: #7DAA92;
    border-radius: 1rem;
    font-size: 1.8rem;
    width: 4rem;
    height: 3rem;
    margin: 0.5rem;
    color: #eae4e9;
    cursor: pointer;
}

#newWord{
    width: 7rem;
    font-size: 1.3rem;
    height: 3.5rem;
}

#letterChoosen{
    font-size: 1.5rem;
}

.draw{
    height: 25%;
}

#endPlay{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.score{
    font-size: 1.2rem;
}

.keyboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
}